@{
    ViewBag.Title = "Home Page";
}


<div class="container" >
    <h1 style="text-align: center; margin-top: 50px;">Bienvenido a ARMATUPC - Tu tienda de tecnología</h1>

    <div class="row" style="display: flex; height: auto; align-items: stretch; background-color: #ffffff;">
        <div class="categoria-item" style="padding: 100px; text-align: center; border-radius: 5px; margin-bottom: 20px; flex: 1  auto ">
            <h2>Componentes</h2>
            <a href="/Home/CMPNT">
                <img src="https://i.linio.com/p/a51c1111f3d7b14c866170856c098b83-product.webp" alt="Componentes" width="200" height="200">
            </a>
        </div>
        <div class="categoria-item" style="padding: 100px; text-align: center; border-radius: 5px; margin-bottom: 20px;">
            <h2>Celulares</h2>
            <a href="/Home/cel">
                <img src="https://i.linio.com/p/8961e3005eb3b7bf8e9596c279168ee9-product.webp" alt="Celulares" width="200" height="200">
            </a>
        </div>
        <div class="categoria-item" style="padding: 100px; text-align: center; border-radius: 5px; margin-bottom: 20px;">
            <h2>Smartwatches</h2>
            <a href="/Home/smart">
                <img src="https://i.linio.com/p/d8e51b3fc9bb7c998aca1aaefc292195-product.webp" alt="Smartwatches" width="200" height="200">
            </a>
        </div>
        <div class="categoria-item" style="padding: 100px; text-align: center; border-radius: 5px; margin-bottom: 20px;">
            <h2>Laptops</h2>
            <a href="/Home/lap">
                <img src="https://i.linio.com/p/9db60bd928d6a1b1e1a509d8ab7a9321-product.webp" alt="Laptops" width="200" height="200">
            </a>
        </div>
    </div>
</div>
